/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{  
    color: black;
    text-decoration: none;
}
/* ----------------------------- IMPORTS ------------------------------*/

@font-face {
    font-family: Theater;
    src: url(/assets/font/Theater_Bold.otf);
}
@font-face {
    font-family: Playfair-regular;
    src: url(/assets/font/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: Playfair-medium;
    src: url(/assets/font/PlayfairDisplay-Medium.ttf);
}

/* ----------------------------- LANDING ------------------------------*/

body{
    background-color: #F5F5F5;
    overflow-x: hidden;
}

.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30vw;
    background-color: #c3c3c3;

}

.links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;

}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;    
}

.social-link{
    transition: transform 0.3s;
}

.social-link:hover {
    transform: scale(1.1);
}

.button{
    letter-spacing: 5px;
    color: white;
    font-size: 20px;
    padding: 9px;
    background-color: black;
    margin-right: 10px;
    transition: transform 0.2s;
}

.button:hover{
    transform: scale(1.02);
}

.button:active{
    transform: scale(0.90);
}


/* disabled scrollbar */

::-webkit-scrollbar {
    display: none;
}


/* ----------------------------- RESPONSIVE ------------------------------*/

@media screen and (max-width: 1500px ) {

    .landing-left{
        margin-left: 10vw;
    }

    .presentation-text{
        font-size: 15px;
    }

}


@media screen and (max-width: 1150px ) {


    h1{
        font-size: 130px !important;
    }

    .landing-left{
        margin-left: 5vw;
    }

    .presentation-text{
        font-size: 13px;
    }

    .profile-cv{
        margin-top: 30px;
    }


}


@media screen and (max-width: 1000px ) {


    h1{
        font-size: 100px !important;
    }

    .landing-left{
        font-size: 14px;
    }


}





@media screen and (max-width: 450px ) {

    .landing{
        height: 80vh;
    }

    .landing-content{
        height: 60%;
    }

    .top-page{
        justify-content: center;
    }

    .svg-logo{
        margin: 30px 0 0 0;
    }

    .landing-name{
        display: none;

    }

    .work{
        margin-right: 0;
        justify-content: center;
    }

    .landing-right{
        margin: 10px 0;
    }

    .social-link-middle{
        margin: 0 15px;
    }

    .socials{
        display: flex;
        border: none;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
    }

    .landing-content{
        flex-direction: column;
    }

    .landing-left{
        margin:0 !important;
    }

    .scroll{
        display: none;
    }

    .profile{
        padding-top: 0;
    }

    .presentation{
        flex-direction: column;
        align-items: center;
    }

    .presentation-text{
        width: 80vw;
        padding: 10px 10px;
        margin-left: 0;
        margin-bottom: 15%;
        margin-top: 10%;
    }

    .cv-button{
        margin-left: 0;
        margin-bottom: 60px;
    }

    .profile-cv{
        margin-top: 30vh;
        margin-bottom: 10vh;
    }
}